<mat-grid-list cols="4" rowHeight="500" style="padding: 8px;" *ngIf="personas.length > 0 else noData">
<br><br>
  <mat-grid-tile>
    <br><br><br><br>
    <mat-card class="persona-card">

      <mat-card-content align ="center">

        <mat-form-field>
          <input matInput placeholder="Nombre" [formControl] ="nombre">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Edad" [formControl] ="edad">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apodo" [formControl] ="apodo">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Foto" [formControl] ="imagen">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Posición" [formControl] ="posicion">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estado" [formControl] ="estado">
        </mat-form-field>
        <br>
        <button mat-flat-button color="primary" (click) = guardar()>Guardar</button>

      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile *ngFor="let j of personas"> 
    <mat-card class="persona-card">
      <mat-card-header>
        <div matCardAvatar class="persona-header-image"></div>
        <mat-card-title>{{j.nombre}}</mat-card-title>
        <mat-card-subtitle>{{j.apodo}}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="http://via.placeholder.com/200x200?text=Foto+de+jugador">
      <mat-card-content>
        <b>Posición:</b> {{j.posicion}}<br>
        <b>Edad:</b> {{j.edad}}<br>
      </mat-card-content>
      <mat-card-actions aling="end">
         <button mat-button color="primary">Editar</button> 
         <button mat-button color="primary" (click)=eliminar(j.id)>Eliminar</button>
        </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #noData>
  <div class="mat-elevation-z8 noData"><h2>No hay registros.</h2></div>
</ng-template>